@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Coda", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #000625;
  color: #fff;
}

header,
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15vh;
  width: 100%;
}

header {
  border-bottom: 1px solid;
  text-transform: uppercase;
}

img {
  max-width: 155px;
  max-height: 48px;
  width: auto;
  height: auto;
  margin-right: 2em;
}

main {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 70vh;
}

form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
  text-align: center;
}

form label {
  display: inline-block;
  width: 300px;
  text-align: left;
}

form input {
  font: inherit;
  width: 20%;
  height: 1.5em;
  text-align: center;
}

button {
  font: inherit;
  text-transform: uppercase;
  width: 50%;
  height: 2em;
  margin: 2rem;
  transition: 0.5s;
  background: #000625;
  color: #fff;
  border: none;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000625;
}

.saida {
  font-size: larger;
  padding: 1em;
  height: 6em;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

footer {
  border-top: 1px solid;
}
